<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" advertiser="multicastdns">
    <Properties>
        <Property name="PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss} %logger{36} - %msg%n</Property>
    </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN}"/>
    </Console>
    <File name= "Archivo" fileName= "Logger/Log.log">
        <PatternLayout>
            <pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss} %logger{36} - %msg%n
            </pattern>
        </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="error">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Archivo"/>
    </Root>
    <Logger name="LogPruebas" level="info" additivity="false">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="Archivo"/>
    </Logger>
  </Loggers>
</Configuration>